{% load static %}
{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Avendro{% endblock title%}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    

</head>

<body class="bg-gray-50 text-black leading-normal tracking-normal" style="font-family: 'Poppins', sans-serif;">

    {% block content %}

    {% endblock %}
</body>
</html>
